@page "/myCourses"
@attribute [Authorize]

@using PearReview.Areas.Courses.Data;
@using PearReview.Areas.Courses.Services;
@using PearReview.Areas.Identity.Data;
@using PearReview.Areas.Identity.Services;

@inject CoursesService CoursesSvc
@inject UsersService UsersSvc

<h3>Courses</h3>

<button class="btn btn-primary" @onclick="AddCourse">New Course</button>

@if (allCourses == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Teacher</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var course in allCourses)
            {
                <tr>
                    <td>🔵 @course.Id</td>
                    <td>@course.Name</td>
                    <td>@course.StartDate.ToLocalTime().Date</td>
                    <td>
                        @if (course.Teacher.FirstName != null && course.Teacher.LastName != null)
                        {
                            @(@course.Teacher.FirstName + " " + @course.Teacher.LastName)
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td>@course.Description</td>
                </tr>
            }
            </tbody>
        </table>
}

@code {
    private IList<Course> allCourses { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await FetchCourses();
    }

    public async Task AddCourse()
    {
        List<AppUser> users = await UsersSvc.GetUsersAsync();

        Course course = new()
            {
                Name = "Blazor Server Course",
                Description = "This course takes a deep dive into web app development with Blazor Server and ASP.NET Core",
                StartDate = DateTime.Now.AddDays(5),
                Teacher = users[1],
                CreatedOn = DateTime.Now
            };

        await CoursesSvc.AddCourse(course);

        await FetchCourses();
    }

    private async Task FetchCourses()
    {
        allCourses = await CoursesSvc.GetCoursesWithUsersAsync();
    }
}
